.cartContainer{
    display: flex;
    width: 8%;
    height: 65%;
    position: relative;
    margin-left: 20px;
    margin-right: 40px;
}

.cart-nav{
    height: 100%;
    position: absolute;
}

.circle{
    position: absolute;
    z-index: 1;
    background-color: #f36b24;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    left: 27px;
    top: -4px;
}

.countProductsCart{
	color: white;
	font-size: 14px;
	font-weight: bold;
}