.principal-content{
  width: 75%;
  margin: auto;
  height: auto;
}

.titleGreeting{
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  width: 100%;
  color: #f36b24;
}

.loading{
  color:#f36b24;
  text-align: center;
}
