.itemContainer{
    display: grid;
    grid-template-areas:    "img img img img img img"
                            "title title title title title title"
                            "price price price price price price"
                            "stock stock stock stock stock stock"
                            "lessZone lessZone countZone countZone addZone addZone"
                            "viewDetail viewDetail viewDetail addToCartZone addToCartZone addToCartZone";

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60% 8% 5% 5% 10% 12%;
    width: 30%;
    height: 450px;
    margin-bottom: 30px;
    border: 5px solid #f36b24;
    border-radius: 10px;
}

.imgZone{
    grid-area: img;
    width: 100%;
    height: 100%;
}

.imgProduct{
    z-index: -1;
    width: 100%;
    height: 100%;
    border-bottom: #f36b24 solid 3px;
}

.titleZone{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleOfProduct{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 18px;
}

.priceZone{
    grid-area: price;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceOfProduct{
    width: 100%;
    text-align: center;
    color: black;
    align-self: center;
    font-size: 18px;
}

button img{
    height: 100%;
}

.stockZone{
    grid-area: stock;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock{
    color: black;
    text-align: center;
}

.viewDetailZone{
    grid-area: viewDetail;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewDetail-btn{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #f36b24;
    border-radius: 10px;
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewDetail-btn p{
    font-size: 16px;
    color: white;
    font-weight: bold;
}

