.itemContainer{
    display: grid;
    grid-template-areas:    "img img img img img img"
                            "title title title title title title"
                            "price price price price price price"
                            "stock stock stock stock stock stock"
                            "lessZone lessZone countZone countZone addZone addZone"
                            "viewDetail viewDetail viewDetail addToCartZone addToCartZone addToCartZone";

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60% 8% 5% 5% 10% 12%;
    width: 30%;
    height: 450px;
    margin-bottom: 30px;
    box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 19px 0px rgba(0,0,0,0.75);
border-radius: 10px;
}

.imgZone{
    grid-area: img;
}

.imgProduct{
    padding: 5px;
    width: 100%;
    height: 100%;
    border-bottom: #f36b24 solid 2px;
}

.titleZone{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.titleOfProduct{
    text-align: center;
    width: 100%;
    color: black;
    font-size: 18px;
}

.priceZone{
    grid-area: price;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.priceOfProduct{
    width: 100%;
    text-align: center;
    color: black;
    align-self: center;
    font-size: 18px;
}

button img{
    height: 100%;
}

.stockZone{
    grid-area: stock;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.stock{
    color: black;
    text-align: center;
}

.viewDetailZone{
    grid-area: viewDetail;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.viewDetail-btn{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #f36b24;
    border-radius: 10px;
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewDetail-btn p{
    font-size: 16px;
    color: white;
    font-weight: bold;
}

