.productContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    border: 5px solid green;
}
 
.add-btn{
    background-color: green;
}

.takeOff-btn{
    background-color: red;
}