nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    border-bottom: 3px solid #f36b24;
}

.container-btns{
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-btn{
    width: 23%;
    height: 65%;
    margin-left: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #f36b24;
}

.icon-brand{
    width: 90px;
}