*{
  font-family:sans-serif;
}

.container{
  min-height: 100vh;
  color: white; 
}

.contenedorDeProductos{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 30px;
  height: calc(100vh - 104px);
}


