.lessButtonZoneDetail{
    grid-area: lessZoneDetail;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonTakeOffDetail{
    background-color: #f36b24;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonTakeOffDetail img{
    height: 60%;
}

.countZoneDetail{
    grid-area: countZoneDetail;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countDetail{
    font-size: 30px;
}


.addButtonZoneDetail{
    grid-area: addZoneDetail;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.buttonAddProductDetail{
    background-color: #f36b24;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonAddProductDetail img{
    height: 60%;
}

.addToCartZoneDetail{
    grid-area: addToCartZone;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.buttonAddToCartDetail{
    background-color: #f36b24;
    width: 60%;
    border: none;
    border-radius: 30px;
    height: 70%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
